.container {
  height: 615px;
  width: 615px;
  background-color: teal;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  height: 201px;
  width: 201px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 65px;
  width: 65px;
  border-style: solid;
  border-width: 1px;
}
