.container {
  height: 612px;
  width: 612px;
  background-color: teal;
  border-style: solid;
  border-width: 10px;
  border-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 2px;
}
